<div>
  <label
    >Тип транспорта
    <select [(ngModel)]="transport_type" (change)="change_transport_type()">
      @for (tt of api.tansport_type_strings; track $index) {
      <option [value]="tt[0]">
        {{ tt[1] }}
      </option>
      }
    </select>
  </label>
</div>

<div>
  @if (stations_from) {
  <label
    >Откуда
    <select [(ngModel)]="station_from" (change)="change_station_from()">
      @for (st of stations_from.stations; track $index) {
      <option [value]="st.code">
        {{ st.title }}
      </option>
      }
    </select>
  </label>
  }
</div>

<div>
  @if (stations_to) {
  <label
    >куда
    <select [(ngModel)]="station_to">
      @for (st of stations_to; track $index) {
      <option [value]="st[0]">
        {{ st[1] }}
      </option>
      }
    </select>
  </label>
  }
</div>

<!-- <router-outlet /> -->
